<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Telegram Bot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-striped custom_table">
    <thead>
    <tr class="headings">
        <th>说明</th>
        <th>命令</th>
        <th>执行</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr class="success">
        <td>BOT 取得更新(非即時)</td>
        <td>/getUpdates</td>
        <td>
            <a class="btn btn-success" target="_blank" href="{{ config['TG']['UPDATE_URL'] }}">执行</a>
        </td>
    </tr>
    <tr class="success">
        <td>BOT 設定 webhook</td>
        <td>/set_webhook</td>
        <td>
            <a class="btn btn-danger" target="_blank" href="/set_webhook">执行</a>
        </td>
    </tr>
    {% for group in groups %}
        <tr class="success">
            <td>讀取 {{ group }} (Atlas)</td>
            <td>/write/bg88</td>
            <td>
                <a class="btn btn-success" target="_blank" href="/read/{{ group }}">执行</a>
            </td>
        </tr>
        <tr class="success">
            <td>寫入 {{ group }} (Atlas)</td>
            <td>/write/{{ group }}</td>
            <td>
                <a class="btn btn-warning" target="_blank" href="/write/{{ group }}">执行</a>
            </td>
        </tr>
        <tr class="success">
            <td>刪除 {{ group }} (telegram+Atlas)</td>
            <td>/delete/{{ group }}</td>
            <td>
                <a class="btn btn-danger" target="_blank" href="/delete/{{ group }}">执行</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>