<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Telegram Bot</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">新增任务</button>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    <div class="col-md-9 col-md-offset-3">
        <table id="table" class="cell-border compact hover stripe" style="width:100%">
            <thead>
            <tr>
                <th>message.from.first_name<br>message.from.last_name</th>
                <th>cron.time</th>
                <th>cron.text</th>
                <th>cron.done</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for cron in crons %}
                <tr class="success">
                    <td>{{ cron.message.from.first_name }} {{ cron.message.from.last_name }}</td>
                    <td>{{ cron.cron.time|time_format }}</td>
                    <td>{{ cron.cron.text }}</td>
                    <td>{{ '%s' % 'Y' if cron.cron.done == 1 else 'N' }}</td>
                    <td>
                        <button class="btn btn-xs btn-primary">編輯</button>
                        <button class="btn btn-xs btn-danger btn_del_job" data-id="{{ cron._id }}">刪除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    $(function () {
        $("#table").DataTable({
            "lengthMenu": [50, 100, 150, 200, 500],
            "pageLength": 100,
        });

        $('.btn_del_job').on('click', function () {
            let $me = $(this);
            let _id = $me.data('id');

            axios.post('/cron/del', {
                id: _id,
            }).then(function (resp) {
                if (resp.data && resp.data == 'ok') {
                    window.location.reload();
                }
            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>
</body>
</html>